#include "resource.h"
#include <windows.h>
#include <commctrl.h>
#pragma code_page(65001) // UTF-8

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

IDD_MAIN_DIALOG DIALOGEX 0, 0, 730, 348
CAPTION "Wide Scan Application"
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_SIZEBOX | WS_MAXIMIZE |  WS_THICKFRAME
FONT 9, "Segoe UI", 0, 0, 1
{
    CONTROL "", IDC_STATIC_PREVIEW, "STATIC", SS_BLACKFRAME, 10, 10, 590, 340
    LTEXT "Resolution (DPI):", -1, 611, 17, 70, 8
    COMBOBOX IDC_EDIT_DPI, 687, 15, 37, 70, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Width (mm):", -1, 611, 37, 70, 8
    EDITTEXT IDC_EDIT_WIDTH, 687, 35, 38, 14, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT "Height (mm):", -1, 611, 57, 70, 8
    EDITTEXT IDC_EDIT_HEIGHT, 687, 55, 37, 14, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT "Output Folder:", -1, 613, 75, 70, 8
    EDITTEXT IDC_EDIT_PATH, 615, 89, 98, 14, ES_AUTOHSCROLL
    PUSHBUTTON "Select...", IDC_BTN_BROWSE, 615, 106, 55, 14
    LTEXT "Serial Number:", -1, 619, 125, 70, 8
    EDITTEXT IDC_EDIT_FILENAME, 617, 136, 92, 14, ES_AUTOHSCROLL
    GROUPBOX "Logger", -1, 617, 169, 95, 115
    EDITTEXT IDC_EDIT_LOG, 623, 183, 78, 95, ES_READONLY | ES_AUTOVSCROLL | ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON "Start", IDC_BTN_BATCH, 617, 284, 85, 18
    PUSHBUTTON "Close Batch", IDC_BTN_CANCEL, 623, 304, 75, 18
}
IDI_ICON1 ICON "Scanner.ico"